<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>About Page</title>
</head>
<body>
	<section class="banner">
		<h1 class="text-center">Contact management</h1>
		<h3>A digital method of storing data, can help you grow and diversify your customer base.
		 As your business grows, it will get more challenging to collect data and determine which information is valuable to you,
		  your employees and your company’s sustainability.</h3>
		 <p>
		 Contact management is a means of entering customer and lead data for storage, quick access, editing and tracking. Contact management can be as simple as a spreadsheet or as complex as customer relationship management (CRM) software.

		<p>
		By digitizing contact management, you can give your employees access to valuable customer data. All departments can view the same data, so you speed up communication and streamline processes. When you make communication more efficient, you can focus less on business tasks and more on your customers.
		</p>
		<p>
		In today’s business environment, you have to do more than just personalize a sales email with someone’s name in order to make a sale. Customers are loyal to companies that remember their specific preferences, and they expect a stellar experience every time they place an order online or receive a package in the mail. Going above and beyond not only creates repeat sales but also encourages referrals, which could significantly decrease your overall customer acquisition costs. 
		</p>

		 </p>
	</section>
</body>
</html>